-if title?
  text:p text:style-name="P14" =title
text:list xml:id=@id text:style-name="L1"
  - items.each do |item|
    text:list-item
      text:p text:style-name="P11" =item.text
      - if item.blocks?
          =item.content
